.media{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 200px;
    padding: 5px;
    margin: 5px 0;
    background-color: #282c34;
    border-radius: 10px;
    position: relative;
    font-family: "Montserrat",sans-serif;
}
.media:hover{
    background-color: rgb(252, 253, 253);
    color: black;
}
.poster{
    border-radius: 10px;
}
.title{
    width:100%;
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 17px;
    padding: 8px 0;
}
.subTitle{
    display: flex;
    justify-content: space-between;
    padding: 0 2px;
    font-weight: 600;
    padding-bottom: 3px;
}
@media (max-width:550px){
    .media{
        width: 140px;;
        flex-direction: column;
    }
    .poster{
        border-radius: 10px;
    }
    .title{
        width:100%;
        text-align: center;
        font-weight: 700;
        font-size: 15px;
        padding: 3px 0;
    }
    .subTitle{
        display: flex;
        font-size: small;
        justify-content: space-between;
        padding: 0 2px;
        font-weight: 600;
        padding-bottom: 2px;
    }
}
