*{
    scroll-behavior: smooth;
}
.App{
    /* to cover entire screen height  */
    min-height: 100vh;
    background-color: #39445a;
    color:white;
    padding-top: 80px;
    padding-bottom: 70px;
}

@media (max-with:700px) {
    .App{
        padding-top: 70px;
    }
}
.pageTitle{
    text-transform: uppercase;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat',sans-serif;
    font-size: 3vw;
    font-weight: 700;
    padding: 4px;
    border-radius: 50px;
    color: wheat;
}
@media (max-widt:1000px) {
    .pageTitle{
        font-size: 6.4vw;
    }
}